body{
  margin:0;
}
div{
  background-color: #E4F9F5;

}
/*
.top-container{
  width:200px;
  height:200px;
  background-color:red;
}
.middle-container{
  width:200px;
  height:200px;
  background-color:yellow;
}
.bottom-container{
  width:200px;
  height:200px;
  background-color:blue;
}*/
.heading{
  background-color: #E4F9F5;
  padding: 10px;
  font-family:'Brush Script MT', cursive;
  font-size:30px;
  width:100%;
  height:100%;
}
